:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.resume-form {
  max-width: max-content;
  padding: 5rem;
}

.input-card {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 10%;
  padding: 1rem;
  margin-bottom: 5rem;
  box-shadow: 4px 2px 15px 0px #000;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.preview-wrapper {
  padding: 5rem;
  flex: 1;
}

.resume-display {
  background-color: white;
  color: black;
  height: 85vh;
  width: calc(85vh * 8.5 / 11);
  font-size: 1vh;
  padding: 1em;
  box-shadow: 8px 5px 15px 0px #000;
}
